node_modules
npm-debug.log
.pnpm-store
.git
.gitignore
.env
.env.*
!.env.example
dist
build
coverage
.vscode
.idea
*.log
*.md
!README.md
.DS_Store
.husky
.editorconfig
.eslintrc*
.prettierrc*
tsconfig.json
commitlint.config.js
eslint.config.mjs
PRISMA_VS_MONGODB_DRIVER.md

